.sidebar {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 15%;
  padding-left: 1%;
  box-sizing: border-box;
  border-right: 1px solid gray;
}

div > h4 {
  font-size: 12px;
  margin: 15px 0 8px 0;
}

.sidebarRadio {
  font-size: 10px;
  margin-top: 3px;
  display: flex;
  align-items: baseline;
}
.sidebarRadio > input {
  height: 10px;
}

.sidebarColor {
  font-size: 10px;
}

.sidebarColor > input {
  height: 10px;
}
